<div class="conteudo">

  <div class="opcoes-cores">

    <div class="opcao">
      <div> Verde</div>
      <div class="radio-opcao">
        <input type="radio" name="color" checked value="verde" (click)="mudaCorSabre('verde')">
      </div>
    </div>

    <div class="opcao">
      <div> Azul</div>
      <div class="radio-opcao">
        <input type="radio" name="color" value="azul" (click)="mudaCorSabre('azul')">
      </div>
    </div>

    <div class="opcao">
      <div> Amarelo</div>
      <div class="radio-opcao">
        <input type="radio" name="color" value="amarelo" (click)="mudaCorSabre('amarelo')">
      </div>
    </div>

    <div class="opcao">
      <div> Roxo</div>
      <div class="radio-opcao">
        <input type="radio" name="color" value="roxo" (click)="mudaCorSabre('roxo')">
      </div>
    </div>

    <div class="opcao">
      <div> Vermelho</div>
      <div class="radio-opcao">
        <input type="radio" name="color" value="vermelho" (click)="mudaCorSabre('vermelho')">
      </div>
    </div>

    <div class="opcao">
      <div> Preto</div>
      <div class="radio-opcao">
        <input type="radio" name="color" value="preto" (click)="mudaCorSabre('preto')">
      </div>
    </div>

  </div>

  <div class="conteudo-sabre">

    <div class="base-luz-sabre">
      <div class="luz-sabre" id="luz-sabre"></div>
    </div>


    <div class="base-sabre" (click)="ligaSabreDefault()">

    </div>

  </div>

</div>